html, body {
	margin: 0;
	padding: 0
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	font-family: Helvetica Neue, Helvetica, Arial, Sans-Serif;
	vertical-align: baseline;
	background-color: #d9dbd0;
	color: #1f2126;
	line-height: 1;
	text-align: left;
}

a {
	color: #FFFFFF;
	text-decoration: none;
}

div#container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}

div#nav {
	height: 40px;
	min-height: 40px;
	background-color: #09466a;
}

div#nav .navitem {
	float: left;
	width: 119px;
	height: 27px;
	padding-top: 13px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	border-right: 1px #063b5b solid;
}

div#nav a {
	background-color: #09466a;
	color: #FFFFFF;
}

div#nav a:hover {
	background-color: #d9dbd0;
	color: #09466a;
}


/*
div#nav ul {
	margin: 0px;
	padding: 10px;
	border-right: 1px #063b5b solid;
}

div#nav li {
	display: inline;
	list-style-type: none;
	width: 120px;
	padding-top: 100px;
	padding-right: 20px;
	padding-left: 10px;
	padding-bottom: 12px;
	color: #FFFFFF;
	font-size: 12px;
	border-right: 1px #063b5b solid;
}
*/

div#top {
	height: 140px;
	min-height: 140px;
	padding: 10px;
	background-color: #FFFFFF;
}

div#logo {
	width: 190px;
	height: 140px;
	min-height: 140px;
	float: left;
	text-align: center;
}

div#image {
	width: 750px;
	height: 140px;
	min-height: 140px;
	float: left;
}

div#main {
	height: 140px;
	min-height: 140px;
	border-top: 1px #063c5c solid;
	padding: 10px;
	background-color: blue;
}

div#menuleft {
	width: 190px;
	margin-right: 10px;
	float: left;
	background-color: yellow;
}

div#content {
	width: 460px;
	float: left;
	background-color: green;
}

div#menuright {
	width: 270px;
	margin-left: 10px;
	float: left;
	background-color: yellow;
}

div#footer {
	height: 40px;
	min-height: 40px;
	background-color: #09466a;
}

