# -FrontPage-

IndexIgnore .htaccess */.??* *~ *# */HEADER* */README* */_vti*

<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>

Redirect 301 /aboutus.htm      http://www.ibsproject.com/project_principles.html
Redirect 301 /contact.htm      http://www.ibsproject.com/contact_us.html
Redirect 301 /getinvolved.htm  http://www.ibsproject.com/get_involved.html
Redirect 301 /index.htm        http://www.ibsproject.com/index.html
Redirect 301 /new_events.htm   http://www.ibsproject.com/news_events.html
Redirect 301 /operations.htm   http://www.ibsproject.com/project_operations.html
Redirect 301 /organisation.htm http://www.ibsproject.com/project_organisation.html
Redirect 301 /programmes.htm   http://www.ibsproject.com/programmes.html
Redirect 301 /project.htm      http://www.ibsproject.com/project.html

# issues with flowplayer - this stops gzip being served for swf on server
#SetEnvIfNoCase Request_URI .swf$ no-gzip dont-vary

#cache busting!
<FilesMatch ".(swf)$"> 
FileETag None 
Header unset ETag 
Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate" 
Header set Pragma "no-cache" 
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT" 
</FilesMatch> 
