.pggreyborder {
	border: 1px solid #CFC9C9;
}
a.mainwhitelinks {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.mainwhitelinks:hover {
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #63B6FF;
}
.rightbrdr {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #dbdbdb;
}
a.homeprogwhitelinks {
	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
a.homeprogwhitelinks:hover {

	font-family: Arial;
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.subscribertext {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.txtfield {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	border: 1px solid #AOAOAO;
	width: 175px;
}
a.unsubscriber {
	font-family: Arial;
	font-size: 11px;
	color: #90C2EE;
	text-decoration: underline;
}
a.unsubscriber:hover {

	font-family: Arial;
	font-size: 11px;
	color: #90C2EE;
	text-decoration: none;
}
.hometxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #484848;
	text-decoration: none;
}
.copyright {
	font-family: Arial;
	font-size: 10px;
	color: #505050;
	text-decoration: none;
}
.topgreybrdr {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #c1c1c1;
}
a.bottomlinks {
	font-family: Arial;
	font-size: 11px;
	color: #797979;
	text-decoration: none;
}
.linkdivline {
	color: #797979;
	font-family: Arial;
	font-size: 10px;
	text-decoration: none;
}
a.bottomlinks:hover {

	font-family: Arial;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
}
.topwhiteborder {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	background-color: #000000;
}
.dottedgreyline {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #ababab;
}
a.sublinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3D77AB;
	text-decoration: none;
}
a.sublinks:hover {

	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #2c2c2c;
	text-decoration: none;
}
.bluestaticlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #3D77AB;
	text-decoration: none;
}
.innertxt {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 16px;
	color: #505050;
	text-decoration: none;
}
.bluepghead {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
a.blackboldlink {
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
a.blackboldlink:hover {

	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: #3D77AB;
	text-decoration: none;
}
.topbrownborder {

	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FFFFFF;
	background-color: #D1DCE6;
}
