/*

PAGE STYLES

*/

* {
	margin: 0;
	padding: 0;
}

html, body {
	border: none;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
/* 	font-family: "Helvetica Neue", Arial, Sans-Serif; */
	font-family: Arial, Sans-Serif;
	vertical-align: baseline;
	background-color: #edeee8;
	color: #1f2126;
	line-height: 1.0;
	text-align: left;
}

/* TO FIX FOOTER TO BOTTOM OF PAGE */
html, body {
	height: 100%; /* gives layout 100% height */
	/* overflow: inherit; */ /* triggers 100% height in Opera 9.5 - this seems to put extra scroll bars on the body: NOT GOOD! */
}

/* TO FORCE VERTICAL SCROLL BAR */
/* or use this: margin: 0 0 1px; */
html {
	overflow-y: scroll;
}

/* IE6 HACK FOR CLEARING FOOTER WHEN ROLLING OVER NAV ITEMS */
.ie6clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

/*

MAIN STYLES

*/

p {
	margin: 0 0 10px 0;
}

a {
	text-decoration: none;
}

img {
	border: none;
}

ul {
	padding: 0 0 0 15px;
	margin: 0;
}

ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding: 0 0 10px 5px;
}

li p {
	line-height: 1.4;
}

/*

FORM STYLES

*/

fieldset {
	padding: 1em;
	line-height: 1.0;
	border: none;
	background-color: #D9DBD0;
}

legend {
	padding: 0.2em 0.5em;
	border: 1px solid green;
	color: #346794;
	font-size: 0.9em;
	text-align: right;
}

label {
	float: left;
	width: 170px;
	font-weight: bold;
	margin-top: 2px;
/* 	font-size: 0.9em; */
}

.label {
	float: left;
	width: 170px;
	margin-top: 2px;
	display: block;
}

input {
	font-size: 1em;
}


.radio {
	margin-right: 10px;
}

.no_list {
	padding: 0;
	margin-bottom: 10px;
}

.no_list_text {
	margin: 10px 0 15px;
	font-size: 1.2em;
	font-weight: bold;
}

.spaced {
	line-height: 1.2;
}

.mandatory {
	color: #B7072D; /* #346794, #02a6c1 */
	font-size: 1.4em;
	font-weight: bold;
}

.sponsors {
	color: #346794;
	font-weight: bold;
}

/*

Generic classes

*/

.white_text {
	color: #FFF !important;
}

.grey_text {
	color: #D9DBD0 !important;
}

.bold_text {
	font-weight: bold;
}

.error_message {
	color: red;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #555;
}

.standout {
	font-weight: bold;
/* 	font-size: 1.0em; */
/* 	font-style: italic;  */
}

.caption {
	margin: 10px 30px 10px 10px;
	font-size: 0.9em;
}

.small {
	font-size: 0.8em;
}

/*

CONTAINERS ET LA

*/

div#container {
	width: 960px;
	min-height: 100%; /* gives layout 100% height */
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
	background-color: #FFFFFF;
}

* html #container { 
	height: 100%; /* IE6 treats height as min-height */
}

div#cover {
	position: absolute;
	width: 960px;
	height: 10px;
	min-height: 10px;
}

div#margin {
	display: none;
	height: 10px;
	min-height: 10px;
	background-color: #edeee8;
}

div#main {
	overflow: auto;
	border-top: 1px #063c5c solid;
	padding: 10px;
}

div#debug_info {
	position: absolute;
	top: 0px;
	width: 100px;
	font-size: 0.8em;
	line-height: 1.2;
}

/*

TOP NAVIGATION

*/

div#nav {
	height: 40px;
	min-height: 40px;
	background-color: #09466a;
}

div#nav .navitem {
	float: left;
	width: 119px;
	height: 27px;
	padding-top: 13px;
	font-size: 12px;
	text-align: center;
	border-right: 1px #063b5b solid;
}

div#nav a {
	color: #FFFFFF;
}

div#nav a:hover {
	background-color: #d9dbd0;
	color: #09466a;
}

div#nav .active {
	background-color: #d9dbd0;
	color: #09466a;
}

div#navitem3 {
	display: none;
	visibility: hidden;
}

/*

TOP BAR

*/

div#top {
	height: 140px;
	min-height: 140px;
	padding: 10px;
}

div#logo {
	width: 190px;
	height: 140px;
	min-height: 140px;
	float: left;
	text-align: center;
}

div#image {
	width: 750px;
	height: 140px;
	min-height: 140px;
	float: left;
	border: none;
}

/*

LEFT MENU

*/

div#menuleft {
	width: 190px;
	float: left;
}

div#menuleft .navitem {
	float: left;
	width: 170px;
	height: 20px;
	padding: 10px 0 0 10px;
	font-size: 12px;
	text-align: left;
	border-bottom: 1px #979c99 solid;
	background-color: #D9DBD0;
/* 	background-color: #EDEEE8; */
/* 	background-color: #02a6c1; */
/* 	background-color: #084165; */
}

div#menuleft .navitemlarge {
	height: 34px;
}


div#menuleft a {
	color: #000000;
}

div#menuleft a:hover {
	color: #09466a;
}

div#menuleft img {
	vertical-align: middle;
}


div#menuleft .active {
	color: #09466a;
}

div#menuleft .clear {
	clear: both;
	padding: 5px;
}

div#menuleft .important {
	background-color: #346794; /* 0Fa6cf 00a6cf */
	color: #FFF;
}

div#menuleft #announcement {
/* 	color: #edeee8; */
/* 	background-color: #FFF; */
	width: 160px;
	height: auto;
	padding: 10px;
	line-height: 1.4;
 	border: none;
}

div#menuleft #announcement .heading {
	color: #346794;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1.0;
}

div#menuleft #announcement .title {
	font-weight: bold;
	font-size: 1.2em;
}

div#menuleft #announcement a {
	color: #09466a;
}

div#menuleft #announcement p {
	font-size: 1.0em;
}

div#menuleft #announcement #box {
	padding: 3px 2px 3px 5px;
	margin-bottom: 5px;
	margin-left: -4px;
	width: 100%;
}

div#menuleft #announcement #box a {
	color: #1f2126;
	text-decoration: none;
}

div#menuleft #announcement #box a:hover {
	color: #09466a;
}

/*

CONTENT

*/

div#content {
	width: 480px;
	float: left;
	margin-bottom: 10px;
}


div#contentWide {
	width: 750px;
	float: left;
	margin-bottom: 10px;
}

div#title {
	margin: 9px 0 10px 0;
	border-bottom: 1px #979c99 solid;
}

div#title .text {
	position: relative;
	top: -5px;
	left: 10px;
	font-weight: bold;
	font-size: 1.2em;
	color: #346794;
}

div#body {
	padding: 0 10px;
	font-size: 0.8em;
	line-height: 1.4;
	margin-bottom: 40px;
}

* html div#body {
	margin-bottom: 60px;
}

div#body a {
	color: #09466a;
	text-decoration: underline;;
}

div#body .intitle {
	margin-top: 20px;
	font-size: 1.1em;
	font-weight: bold;
}

div#body .intitle_larger {
	font-size: 1.2em;
}

div#body .name {
	display: block;
	font-weight: bold;
}

div#body .title {
	display: block;
	padding-bottom: 5px;
}

div#body .cv {
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

div#body .address {
	float: left;
	width: 230px;
}

div#body .ticketstype {
	width: 100px;
	float: left;
}

/*

LOGGED IN

*/

div#loggedin {
	float: right;
	height: 20px;
	width: 250px;
	padding: 10px 5px 0;
	font-size: 0.75em;
/* 	background-color: #D9DBD0; */
	border-bottom: 1px solid #979C99;
}

div#loggedin a {
	color:#09466A;
/* 	text-decoration:underline; */
}
/*

RIGHT MENU

*/

div#menuright {
	width: 245px;
	height: auto;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 5px;
	float: left;
	background-color: #edeee8;
	line-height: 1.2;
}

div#menuright .navitem {
	float: left;
	width: 250px;
	height: 20px;
	padding: 0 0 5px 0;
	font-size: 12px;
	text-align: left;
}

div#menuright a {
	color: #000000;
}

div#menuright a:hover {
	color: #09466a;
}

div#menuright p {
	font-size: 0.75em;
	line-height: 1.4;
}

div#menuright .quicklinks {
	clear: both;
	padding: 10px 0 10px 0;
	height: 20px;
	font-size: 0.9em;
	font-weight: bold;
	color: #346794;
}

div#menuright #archived_newsletters {
	display: none;
	padding: 10px;
}

div#menuright img {
	vertical-align: top;
}

div#menuright .button_nu {
	margin: 0;
	padding: 0;
	color: #FFF;
	background-color: #09466a;
}

div#menuright #subscribe {
	margin-bottom: 15px;
}

div#menuright #subscribe a:hover {
	color: #FFF;
}

div#menuright #error {
	display: none;
	color: red;
	font-size: 0.8em;
}

div#menuright #success {
	font-size: 11px;
	display: none;
}

div#menuright input {
	font-size: 11px;
	height: 16px;
}

div#menuright #executive_programme {
	margin-left: -10px;
	width: 240px;
	height: 60px;
	padding: 10px;
 	background-color: #346794;
}

div#menuright #executive_programme .text {
	font-size: 0.7em;
	color: #D9DBD0;
}

div#menuright #executive_programme .heading a {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 1.6em;
	line-height: 1.0;
}

div#menuright #executive_programme .heading a:hover {
	color: #D9DBD0;
}

div#menuright #executive_programme_white {
	margin-left: -10px;
	width: 260px;
	height: 10px;
	background-color: #FFFFFF;
}

/*

FOOTER

*/

div#footer {
	margin: -40px auto 0;
	width: 960px;
	clear: both;
	height: 40px;
	min-height: 40px;
	background-color: #09466a;
}

div#footer .text {
	position: relative;
	top: 15px;
	left: 10px;
	font-size: 10px;
	color: #FFFFFF;
}

/*

ADMIN

*/

#db_result {
	font-size: 0.9em;
}

#db_result td {
	padding: 3px;
}

#db_result tr {
	border: 1px black inset;;
	background-color: #D9DBD0;
}

.admin_title {
	display: block;
	margin: 5px 0;
	font-size: 1.2em;
/* 	font-weight: bold; */
	color: #3E6E97;
}

.scroll {
	width: 920px;
	overflow: auto;
}

.warning {
	display: block;
	font-style: italic;
	padding: 5px 0;
}

/* BUTTONS */

.buttons {
	padding: 5px;
	line-height: 1;
	background-color: #21587b;
	text-transform: uppercase;
	color: #FFFFFF !important;
	text-decoration: none !important;
	font-size: 0.9em;
}

.submit_button {
	float: right;
	margin-top: -35px;
	margin-right: 10px;
}

.cancel_button {
	float: right;
	margin-top: -35px;
	margin-right: 70px;
}

#edit_form_button {
	position: relative;
	top: -3px;
	left: 10px;
	padding: 3px;
	float: right;
}

/*

			<!--
			<ul id="navlist">
				<li id="active">About IBS</li>
				<li>Programmes</li>
				<li>Project countdown</li>
				<li>News &amp; events</li>
				<li>Get involved</li>
				<li>Contact us</li>
			</ul>
			-->

div#nav ul {
	margin: 0px;
	padding: 10px;
	border-right: 1px #063b5b solid;
}

div#nav li {
	display: inline;
	list-style-type: none;
	width: 120px;
	padding-top: 100px;
	padding-right: 20px;
	padding-left: 10px;
	padding-bottom: 12px;
	color: #FFFFFF;
	font-size: 12px;
	border-right: 1px #063b5b solid;
}

STICKY Footer:
http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
http://www.visibilityinherit.com/code/height-stickyfooter-centered.php
http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page

*/

/*

SLIDE SHOWS

*/

/*
.slide_show {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slide_show ul {
    line-height: 20px;
    list-style-type: square;
}

.slide_show li {
    float: left;
    margin: 1px;
    padding: 0px;
}

.clear {
	clear: both;
}
*/

/*

PIKACHOOSE SLIDE SHOWS

*/

ul#slide_raffle {width:450px;}
ul#slide_auction {width:450px;}

.pika-wrap {width: 450px; margin: 0 auto;}

.pika-image {position: relative; height: 338px; width: 450px; background: #fafafa; border: 1px solid #e5e5e5; padding: 10px;}
/*position image holders */
.pika-image .animation, .pika-image .main-image {position: absolute; top: 10px; left: 10px;}
.pika-image .animation {display: none;z-index:2;}
.pika-image img {border:0;}

.pika-image .caption {position: absolute; background: url(./images_pickachoose/75-black.png);  border: 1px solid #141414; font-size: 11px; color: #fafafa; padding: 10px; text-align: left; bottom: 10px; left: 0px; width: 428px;}
.pika-image .caption p {padding: 0; margin: 0; line-height: 14px;}

.pika-imgnav a {position: absolute; text-indent: -5000px; display: block;z-index:3;}
.pika-imgnav a.previous {background: url(./images_pickachoose/prev.png) no-repeat left 50%; height: 338px; width: 50px; top: 10px; left: 10px;cursor:pointer;}
.pika-imgnav a.next {background: url(./images_pickachoose/next.png) no-repeat right 50%; height: 338px; width: 50px; top: 10px; right: 10px;cursor:pointer;}
.pika-imgnav a.play {background: url(./images_pickachoose/play.png) no-repeat 50% 50%; height: 100px; width: 40px;top:0;left:50%;display: none;cursor:pointer;}
.pika-imgnav a.pause {background: url(./images_pickachoose/pause.png) no-repeat 50% 50%; height: 100px; width: 40px;top:0;left:50%;display:none;cursor:pointer;}

/* bob hid this one */
.pika-textnav {display: none;}
/*
.pika-textnav {overflow: hidden; margin: 10px 0 0 0;}
.pika-textnav a {font-size: 12px; text-decoration: none; font-family:  helvetica, arial, sans-serif; color: #333; padding: 4px;}
.pika-textnav a:hover {background: #e5e5e5; color: #0065B2;}
.pika-textnav a.previous {float: left; width: auto; display: block;}
.pika-textnav a.next {float: right; width: auto; display: block;}
*/
	
.pika-thumbs {margin: 10px 0 0 0; padding: 0; overflow: hidden; }
.pika-thumbs li {float: left; list-style-type: none; width: 74px; padding: 3px; margin: 0 2px; background: #fafafa; border: 1px solid #e5e5e5; cursor: pointer;}
.pika-thumbs li:last {margin: 0;}
.pika-thumbs li .clip {position:relative;width: 74px; height: 74px; text-align: center; vertical-align: center; overflow: hidden;}

.clip span{background-color:black;position:absolute;top:5px;left:5px;display:block;}


/* jCarousel Styles */
/*if you're not using the carousel you can delete everything below this */
.jcarousel-skin-pika .jcarousel-container-horizontal { padding: 10px 5px; margin-top: 0px;}
.jcarousel-skin-pika .jcarousel-container-vertical { width: 90px; height: 350px; padding: 20px 20px;}
.jcarousel-skin-pika .jcarousel-clip-horizontal {height: 90px; width: 460px;}
.jcarousel-skin-pika .jcarousel-clip-vertical { width:  90px; height: 350px;}
.jcarousel-skin-pika .jcarousel-item-horizontal { margin-right: 10px;}
.jcarousel-skin-pika .jcarousel-item-vertical {margin-bottom: 10px;}
.jcarousel-skin-pika .jcarousel-item-placeholder {background: #fff; color: #000;}
