/*

PAGE STYLES

*/

* {
	margin: 0;
	padding: 0;
}

html, body {
	border: none;
	font-weight: normal;
	font-style: normal;
	font-size: 1em;
/* 	font-family: "Helvetica Neue", Arial, Sans-Serif; */
	font-family: Arial, Sans-Serif;
	vertical-align: baseline;
	background-color: #edeee8;
	color: #1f2126;
	line-height: 1.0;
	text-align: left;
}

/* TO FIX FOOTER TO BOTTOM OF PAGE */
html, body {
	height: 100%; /* gives layout 100% height */
	/* overflow: inherit; */ /* triggers 100% height in Opera 9.5 - this seems to put extra scroll bars on the body: NOT GOOD! */
}

/* TO FORCE VERTICAL SCROLL BAR */
/* or use this: margin: 0 0 1px; */
html {
	overflow-y: scroll;
}

/*

MAIN STYLES

*/

p {
	margin: 0 0 10px 0;
}

a {
	text-decoration: none;
}

img {
	border: none;
}

ul {
	padding: 0 0 0 15px;
	margin: 0;
}

ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	padding: 0 0 10px 5px;
}

li p {
	line-height: 1.4;
}

/*

FORM STYLES

*/

fieldset {
	padding: 1em;
	line-height: 1.0;
	border: none;
	background-color: #D9DBD0;
}

legend {
	padding: 0.2em 0.5em;
	border: 1px solid green;
	color: #346794;
	font-size: 0.9em;
	text-align: right;
}

label {
	float: left;
	width: 170px;
	font-weight: bold;
	margin-top: 2px;
/* 	font-size: 0.9em; */
}

.label {
	float: left;
	width: 170px;
	margin-top: 2px;
	display: block;
}

input {
	font-size: 1em;
}


.radio {
	margin-right: 10px;
}

.no_list {
	padding: 0;
	margin-bottom: 10px;
}

.no_list_text {
	margin: 10px 0 15px;
	font-size: 1.2em;
	font-weight: bold;
}

.mandatory {
	color: #B7072D; /* #346794, #02a6c1 */
	font-size: 1.4em;
	margin-left: 2px;
	font-weight: bold;
}

/*

Generic classes

*/

.error_message {
	color: red;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #555;
}

.standout {
	font-weight: bold;
/* 	font-size: 1.0em; */
/* 	font-style: italic;  */
}

.caption {
	margin: 10px 30px 10px 10px;
	font-size: 0.9em;
}
/*

CONTAINERS ET LA

*/

div#container {
	width: 960px;
	min-height: 100%; /* gives layout 100% height */
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
	background-color: #FFFFFF;
}

* html #container { 
	height: 100%; /* IE6 treats height as min-height */
}

div#cover {
	position: absolute;
	width: 960px;
	height: 10px;
	min-height: 10px;
}

div#margin {
	display: none;
	height: 10px;
	min-height: 10px;
	background-color: #edeee8;
}

div#main {
	overflow: auto;
	border-top: 1px #063c5c solid;
	padding: 10px;
}

/*

TOP NAVIGATION

*/

div#nav {
	height: 40px;
	min-height: 40px;
	background-color: #09466a;
}

div#nav .navitem {
	float: left;
	width: 119px;
	height: 27px;
	padding-top: 13px;
	font-size: 12px;
	text-align: center;
	border-right: 1px #063b5b solid;
}

div#nav a {
	color: #FFFFFF;
}

div#nav a:hover {
	background-color: #d9dbd0;
	color: #09466a;
}

div#nav .active {
	background-color: #d9dbd0;
	color: #09466a;
}

div#navitem3 {
	display: none;
	visibility: hidden;
}

/*

TOP BAR

*/

div#top {
	height: 140px;
	min-height: 140px;
	padding: 10px;
}

div#logo {
	width: 190px;
	height: 140px;
	min-height: 140px;
	float: left;
	text-align: center;
}

div#image {
	width: 750px;
	height: 140px;
	min-height: 140px;
	float: left;
	border: none;
}

/*

LEFT MENU

*/

div#menuleft {
	width: 190px;
	float: left;
}

div#menuleft .navitem {
	float: left;
	width: 170px;
	height: 20px;
	padding: 10px 0 0 10px;
	font-size: 12px;
	text-align: left;
	border-bottom: 1px #979c99 solid;
	background-color: #d9dbd0;
}

div#menuleft a {
	color: #000000;
}

div#menuleft a:hover {
	color: #09466a;
}

div#menuleft img {
	vertical-align: middle;
}


div#menuleft .active {
	color: #09466a;
}

div#menuleft #announcement {
/* 	background-color: #02a6c1; */
/* 	background-color: #084165; */
/* 	background-color: #EDEEE8; */
/* 	color: #edeee8; */
	width: 160px;
	height: auto;
	padding: 10px;
	line-height: 1.4;
 	border: none;
}

div#menuleft #announcement .heading {
	color: #346794;
	font-weight: bold;
	font-size: 1.3em;
	line-height: 1.0;
}

div#menuleft #announcement .title {
	font-weight: bold;
	font-size: 1.1em;
}

div#menuleft #announcement a {
	color: #09466a;
	text-decoration: underline;
}

div#menuleft #announcement p {

}

div#menuleft #announcement #white {
	background-color: #EDEEE8;
	padding: 3px 2px 3px 5px;
	margin-bottom: 5px;
	margin-left: -4px;
	width: 100%;
}

div#menuleft #announcement #white a {
	color: #1f2126;
	text-decoration: none;
}

div#menuleft #announcement #white a:hover {
	color: #09466a;
}

/*

CONTENT

*/

div#content {
	width: 480px;
	float: left;
	margin-bottom: 10px;
}


div#contentWide {
	width: 750px;
	float: left;
	margin-bottom: 10px;
}

div#title {
	margin: 9px 0 10px 0;
	border-bottom: 1px #979c99 solid;
}

div#title .text {
	position: relative;
	top: -5px;
	left: 10px;
	font-weight: bold;
	font-size: 1.2em;
	color: #346794;
}

div#body {
	padding: 0 10px;
	font-size: 0.8em;
	line-height: 1.4;
	margin-bottom: 40px;
}

* html div#body {
	margin-bottom: 60px;
}

div#body a {
	color: #09466a;
	text-decoration: underline;;
}

div#body .intitle {
	margin-top: 20px;
	font-size: 1.1em;
	font-weight: bold;
}

div#body .name {
	display: block;
	font-weight: bold;
}

div#body .title {
	display: block;
	padding-bottom: 5px;
}

div#body .cv {
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

div#body .address {
	float: left;
	width: 230px;
}

div#body .ticketstype {
	width: 100px;
	float: left;
}

/*

RIGHT MENU

*/

div#menuright {
	width: 245px;
	height: auto;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 5px;
	float: left;
	background-color: #edeee8;
	line-height: 1.2;
}

div#menuright .navitem {
	float: left;
	width: 250px;
	height: 20px;
	padding: 0 0 5px 0;
	font-size: 12px;
	text-align: left;
}

div#menuright a {
	color: #000000;
}

div#menuright a:hover {
	color: #09466a;
}

div#menuright p {
	font-size: 0.75em;
	line-height: 1.4;
}

div#menuright .quicklinks {
	clear: both;
	padding: 10px 0 10px 0;
	height: 20px;
	font-size: 0.9em;
	font-weight: bold;
	color: #346794;
}

div#menuright img {
	vertical-align: top;
}

div#menuright .button_nu {
	margin: 0;
	padding: 0;
	color: #FFF;
	background-color: #09466a;
}

div#menuright #subscribe {
	margin-bottom: 15px;
}

div#menuright #subscribe a:hover {
	color: #FFF;
}

div#menuright #error {
	display: none;
	color: red;
}

div#menuright #success {
	font-size: 11px;
	display: none;
}

div#menuright input {
	font-size: 11px;
	height: 16px;
}

/*

FOOTER

*/

div#footer {
	margin: -40px auto 0;
	width: 960px;
	clear: both;
	height: 40px;
	min-height: 40px;
	background-color: #09466a;
}

div#footer .text {
	position: relative;
	top: 15px;
	left: 10px;
	font-size: 10px;
	color: #FFFFFF;
}

/*

DB

*/

#db_result {
	font-size: small;
	padding-bottom: 100px;
}

#db_result td {
	padding: 5px;
}


/* BUTTONS */

.buttons {
	padding: 5px;
	line-height: 1;
	background-color: #21587b;
	text-transform: uppercase;
	color: #FFFFFF !important;
	text-decoration: none !important;
	font-size: 0.9em;
}

.submit_button {
	float: right;
	margin-top: -35px;
	margin-right: 10px;
}

#edit_form_button {
	position: relative;
	top: -3px;
	left: 10px;
	padding: 3px;
	float: right;
}

/*

			<!--
			<ul id="navlist">
				<li id="active">About IBS</li>
				<li>Programmes</li>
				<li>Project countdown</li>
				<li>News &amp; events</li>
				<li>Get involved</li>
				<li>Contact us</li>
			</ul>
			-->

div#nav ul {
	margin: 0px;
	padding: 10px;
	border-right: 1px #063b5b solid;
}

div#nav li {
	display: inline;
	list-style-type: none;
	width: 120px;
	padding-top: 100px;
	padding-right: 20px;
	padding-left: 10px;
	padding-bottom: 12px;
	color: #FFFFFF;
	font-size: 12px;
	border-right: 1px #063b5b solid;
}

STICKY Footer:
http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
http://www.visibilityinherit.com/code/height-stickyfooter-centered.php
http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page

*/