/*

DA USUAL

Footer:
http://ryanfait.com/resources/footer-stick-to-bottom-of-page/
http://www.visibilityinherit.com/code/height-stickyfooter-centered.php


http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page

*/

* {
	margin: 0;
	padding: 0;
}

html, body, form {
	border: 0;
	font-weight: normal;
	font-style: normal;
	font-size: 100%;
	font-family: "Helvetica Neue", Arial, Sans-Serif;
	vertical-align: baseline;
	background-color: #edeee8;
	color: #1f2126;
	line-height: 1;
	text-align: left;
}

/* TO FIX FOOTER TO BOTTOM OF PAGE */

html, body {
	height: 100%; /* gives layout 100% height */
	overflow: inherit; /* triggers 100% height in Opera 9.5 */
}

/* BOB'S IE FIX! ok in IE6 - temperemental in IE7 */

* html body {
	min-height: 97%;
	height: 97%;
}

/* <<<<<<<< */

a {
	text-decoration: none;
}

p {
	margin: 0 0 10px 0;
}

ul {
	padding: 0 0 0 15px;
	margin: 0;
}

li {
	padding: 0 0 10px 5px;
}

img {
	border: 0px;
}
/*

CONTAINER ET LA

*/

div#cover {
	position: absolute;
	width: 100%;
	height: 10px;
	min-height: 10px;
}

div#margin {
	display: none;
	height: 10px;
	min-height: 10px;
	background-color: #edeee8;
}

div#container {
	width: 960px;
	min-height: 100%; /* gives layout 100% height */
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
	background-color: #FFFFFF;
}

* html #container { 
	height: 100%; /* IE6 treats height as min-height */
}

/*

TOP NAVIGATION

*/

div#nav {
	height: 40px;
	min-height: 40px;
	background-color: #09466a;
}

div#nav .navitem {
	float: left;
	width: 119px;
	height: 27px;
	padding-top: 13px;
	font-size: 12px;
	text-align: center;
	border-right: 1px #063b5b solid;
}

div#nav a {
	color: #FFFFFF;
}

div#nav a:hover {
	background-color: #d9dbd0;
	color: #09466a;
}

div#nav .active {
	background-color: #d9dbd0;
	color: #09466a;
}

div#navitem3 {
	display: none;
	visibility: hidden;
}
/*

TOP BAR

*/

div#top {
	height: 140px;
	min-height: 140px;
	padding: 10px;
}

div#logo {
	width: 190px;
	height: 140px;
	min-height: 140px;
	float: left;
	text-align: center;
}

div#image {
	width: 750px;
	height: 140px;
	min-height: 140px;
	float: left;
	border: 0;
}


/*

MAIN AREA

*/

div#main {
	overflow: auto;
	border-top: 1px #063c5c solid;
	padding: 10px;
}

/*

LEFT MENU

*/

div#menuleft {
	width: 190px;
	float: left;
}

div#menuleft .navitem {
	float: left;
	width: 170px;
	height: 20px;
	padding: 10px 0 0 10px;
	font-size: 12px;
	text-align: left;
	border-bottom: 1px #979c99 solid;
	background-color: #d9dbd0;
}

div#menuleft a {
	color: #000000;
}

div#menuleft a:hover {
	color: #09466a;
}

div#menuleft img {
	vertical-align: middle;
}


div#menuleft .active {
	color: #09466a;
}

/*

CONTENT

*/

div#content {
	width: 480px;
	float: left;
	margin-bottom: 10px;
}


div#contentWide {
	width: 750px;
	float: left;
	margin-bottom: 10px;
}

div#title {
	margin: 9px 0 10px 0;
	border-bottom: 1px #979c99 solid;
}

div#title .text {
	position: relative;
	top: -5px;
	left: 10px;
	font-weight: bold;
	font-size: 18px;
	color: #346794;
}

div#body {
	padding: 0 10px;
	font-size: 12px;
	line-height: 1.4;
	margin-bottom: 45px;
}

div#body a {
	color: #09466a;
	text-decoration: underline;;
}

div#body .intitle {
	margin-top: 20px;
	font-size: 13px;
	font-weight: bold;
}

div#body .name {
	display: block;
	font-weight: bold;
}

div#body .address {
	float: left;
	width: 230px;
}

/*

RIGHT MENU

*/

div#menuright {
	width: 250px;
	height: auto;
	margin-left: 10px;
	padding-left: 10px;
	float: left;
	background-color: #edeee8;
	font-size: 12px;
}

div#menuright .navitem {
	float: left;
	width: 250px;
	height: 20px;
	padding: 0 0 5px 0;
	font-size: 12px;
	text-align: left;
}

div#menuright a {
	color: #000000;
}

div#menuright a:hover {
	color: #09466a;
}


div#menuright .quicklinks {
	clear: both;
	padding: 10px 0 10px 0;
	height: 20px;
	font-weight: bold;
	color: #346794;
}

div#menuright img {
	vertical-align: top;
}

div#menuright .button1 {
	margin: 0;
	padding: 3px;
	color: #FFF;
	background-color: #09466a;
}

div#menuright #subscribe {
	margin-bottom: 15px;
}

div#menuright #subscribe a:hover {
	color: #FFF;
}

/*

FOOTER

*/

div#footer {
	margin: -40px auto 0;
	width: 960px;
	clear: both;
	height: 40px;
	min-height: 40px;
	background-color: #09466a;
}

div#footer .text {
	position: relative;
	top: 15px;
	left: 10px;
	font-size: 10px;
	color: #FFFFFF;
}

/*

			<!--
			<ul id="navlist">
				<li id="active">About IBS</li>
				<li>Programmes</li>
				<li>Project countdown</li>
				<li>News & events</li>
				<li>Get involved</li>
				<li>Contact us</li>
			</ul>
			-->

div#nav ul {
	margin: 0px;
	padding: 10px;
	border-right: 1px #063b5b solid;
}

div#nav li {
	display: inline;
	list-style-type: none;
	width: 120px;
	padding-top: 100px;
	padding-right: 20px;
	padding-left: 10px;
	padding-bottom: 12px;
	color: #FFFFFF;
	font-size: 12px;
	border-right: 1px #063b5b solid;
}
*/
